@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap");

:root {
  --color-01: #2f2d2d;
  --color-02: #7a7272;
  --color-03: #a93232;
  --color-04: #598e39;
  --color-05: #d5e5f1;

  --font-01: "Luckiest Guy", cursive;
  --font-02: "Rowdies", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#rules {
  color: var(--color-05);
  font-family: var(--font-01);
  font-size: 30px;
  text-align: center;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#rules h1 {
  color: var(--color-05);
  text-align: center;
  text-decoration: underline;
  font-size: 80px;
  margin-bottom: 1rem;
}

#button {
  margin-top: 100px;
  font-size: 1.2rem;
  padding: 0.75rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
  width: fit-content;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#button:active {
  scale: 0.92;
}

#button:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(220, 233, 235, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-left: auto;
}

#footer-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#footer-content #team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#footer-content p {
  color: var(--color-05);
  font-family: var(--font-01);
  font-size: 20px;
  margin-right: 20px;
}

#footer-content a {
  position: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 5%;
}

#footer-content a img {
  width: 40px;
  height: 150px;
  transition: transform 0.3s;
}

#footer-content a:hover img {
  transform: scale(1.8) translateY(-30px);
}

#footer-image-container {
  display: flex;
  justify-content: flex-end;
}

#footer-image {
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    color: var(--color-02);
  }
  33% {
    color: var(--color-04);
  }
  66% {
    color: var(--color-03);
  }
}

#rules p {
  animation: color-change 10s infinite;
}

@media (max-width: 768px) {
  #rules h1 {
    font-size: 60px;
  }

  #footer-content p {
    margin-right: 50px;
  }
}

@media (max-width: 600px) {
  #rules h1 {
    font-size: 40px;
  }

  #footer-content p {
    margin-right: 30px;
  }

  #footer-content a {
    margin-right: 15px;
  }
  #footer-content {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  footer {
    margin: auto;
    margin-top: 10vh;
  }
  #rules p {
    font-size: 20px;
  }
  #footer-content a:hover img {
    transform: none;
  }
}
